.input{
   border-bottom: 2px dotted #C0C0C0;
   width: 250px;
   font-size: 30px;
   font-weight: bold;
   line-height: 29px;
   align-items: center;
   gap: 12px;
   letter-spacing: 10px;
   height: 40px;
   text-align: center;
   background-color: #F0F0F0;
}
