main {
    padding: 24px 42px;
    position: relative;
}
.container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: 80vh;
}
.container .navbar {
margin-right: 30px;
}
.first_section {
    width: 100%;
}

.product_card {
    width: 154px;
    height: 184px;
    background-color: #FFFF;
    border-radius: 12px;
    padding: 6px;
    margin-bottom: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.product_card:hover{
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
}
.product_card h4 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 4px;
    height: 34px;
}

.product_card p {
    font-weight: 500;
    font-size: 14px;
    color: #5D5FEF;
    margin-bottom: 4px;
}

.product_card span {
    font-weight: 400px;
    color: #C1C1C1;
    font-size: 12px;
    margin-left: 5px;
}

.heart_icon {
    align-items: center;
    display: flex;
}
.heart{
    cursor: pointer;
}
