.up_p{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cross_icon {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.cont_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 24px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    width: 260px;
    height: 44px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    margin: 30px auto 0 auto;
}