.radio-container {
  display: flex;
  align-items: center;
}

.cross_icon {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.radio_label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
  user-select: none;
  position: relative;
}

.radio_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio_custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%; /* Радио-кнопки обычно круглые */
  transition: background-color 0.3s, border-color 0.3s;
  margin-right: 10px;
}

.radio_input:checked + .radio_custom {
  border-color: #6200ee;
  background-color: #6200ee;
}

.radio_custom::after {
  content: '';
  width: 10px;
  height: 10px;
  background: white;
  display: none;
  border-radius: 50%;
  position: absolute;
}

.radio_input:checked + .radio_custom::after {
  display: block;
}

/* .checkbox-container {
    display: flex;
    align-items: center;
  }
  .cross_icon {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
  .checkbox_label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    user-select: none;
    position: relative;
  }
  
  .checkbox_input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkbox_custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    margin-right: 10px;
  }
  
  /* .checkbox_input:checked + .checkbox_custom {
    border-color: #6200ee;
  } 
  .checkbox_custom::after {
    content: url('../../Images/check_mark.svg');
    width: 10px;
    height: 10px;
    background: white;
    display: none;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .checkbox_input:checked + .checkbox_custom::after {
    display: block;
  } */
  