
.cross_icon{
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.img{
    width: 532px;
    height: 320px;
}
.cont h4{
    margin-top: 24px;
    margin-bottom: 12px;
    color:#5458EA;
    font-weight: bold;
    font-size: 24px;
}
.cont span{
    color:#494949;
    font-weight: 500;
}
.heart_icon {
    align-items: center;
    display: flex;
    margin-top: 12px;
}
.heart{
    cursor: pointer;
}
.heart_icon span{
    font-size: 12px;
    font-weight: 500;
    opacity: 50%;
    margin-left: 5px;
}
.cont h3{
    margin: 16px 0;
    color:#494949;
    font-weight: bold;
    font-size: 18px;
}
.cont p{
    font-weight: 400;
    color: #C0C0C0;
    margin-bottom: 16px;
}
.cont h5{
    font-weight: 500;
    color: #494949;
    margin-bottom: 12px;
}
.controls.dot-group {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .controls .dot-group .carousel__dot {
    width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 0 4px;
      background-color: red;
  }

    /* This class is found in DotGroup from pure-react-carousel */
    /* We need to override it to add our styles */
    .carousel__dot--selected {
      width: 16px;
      height: 8px;
      border-radius: 10px;
      background-color: #6267a1;
      transition: background 0.4s ease;
    }