@import './styles/variables.css';

@font-face {
  font-family: 'inter';
  src: url(./fonts/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'inter';
  src: url(./fonts/Inter-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'inter';
  src: url(./fonts/Inter-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'inter';
  src: url(./fonts/Inter-Regular.ttf);
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "inter";
  -moz-box-sizing: border-box;/* Для Firefox */
  box-sizing: border-box;
  font-size: 16px;
  border:none;
}
body{
  background-color: #F0F0F0;
}
.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Меняет скролл */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 35px;
}

/* Выключает фокус на бордерах при нажатии */
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
#popup{
  color: white;
  border-radius: 16px;
  background-color:#F34545;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.sublink_cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.active_sublink{
  color: var(--main-color);
  font-weight: bold;
  margin-right: 40px;
  height: 27px;
  border-bottom: var(--main-color) 2.5px solid;
  border-radius: 1px;
  white-space: nowrap;

}
.unactive_sublink{
  color: var(--secondary-color);
  font-weight: bold;
  margin-right: 40px;
  white-space: nowrap;
  height: 27px;

}
.default_cont{
  box-shadow: 0 0 16px rgba(44, 44, 44, 0.15);
  border-radius: 35px;
  padding-bottom: 100px;
  position: relative;
  background-color: var(--main-color);
  min-height: 89%;
    padding: 30px 0px;
    margin-top: 20px;
}
.error{
  text-align: center;
  font-size: 24px;
  color: red;
  margin-top: 40px;
  font-weight: 700;
}
.loading{
  text-align: center;
  font-size: 24px;
  color: white;
  margin-top: 40px;
  font-weight: 700;
}
.noData{
  text-align: center;
  font-size: 24px;
  color: black;
  font-weight: 700;
  margin-top: 40px;
}

.modal_up_p{
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
.modal_cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal_cross_icon {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.modal_cont_btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  width: 260px;
  height: 44px;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(44, 44, 44, 0.15);
  margin: 40px auto 0 auto;
}
.modal_btn_delete{
  background-color: transparent;
  box-shadow: 0 0 16px rgba(44, 44, 44, 0.15);
  color: red;
}